<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">


    <button class="my_link btn btn-lg btn-default" data-option-id="api">API</button>
    <br>
    <button class="my_link btn btn-lg btn-default" data-option-id="qa">QA</button>
    <br>
    <button class="my_link btn btn-lg btn-default" data-option-id="mail">REPORT</button>
    <br>
    <button class="my_link btn btn-lg btn-default" data-option-id="clean">clean</button>

  </div>
</div>


</body>
</html>
<script>


  $(".my_link").click(
    function () {

      $(this).text('loading');
      apiUrl = $(this).data("option-id");
      btt = $(this);
      callML(apiUrl).then(function (data) {
        console.log(data)
        btt.text('done');
      }).catch(function (err) {
        console.log(err)
      })

    });


  function callML(apiUrl) {
    //apiUrl = 'http://localhost:3001/'+apiUrl;
    apiUrl = 'https://ml-qa.herokuapp.com/'+apiUrl;
    console.log(apiUrl);
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: apiUrl,
        data: { id: 1000 },
        success: function (data) {
          resolve(data) // Resolve promise and go to then()
        },
        error: function (err) {
          reject(err) // Reject the promise and go to catch()
        }
      });
    });
  }




</script>

